\:root
  --color-primary: #fe7750
  --color-accent: #1d2333
  --color-bg: #161b28

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-family: var(--font-mono), monospace
  color: #eee
  font-size: 16px
  background-color: var(--color-bg)
  user-select: none
